[2020-01-27 15:44] dhodovsk opened #5 "requests.exceptions.ConnectionError"
Dashboard can be moody - The requests fail with Connection error sometimes:
[code]

[2020-01-27 15:50] jpopelka commented on #5
My guess is that it's because getting all the data from Redis takes too long - we just have to stop abusing Redis and store the data in Postgresql.

[2020-02-22 10:15] maze-runnar commented on #5
@dhodovsk @jpopelka I want to work on this project for GsoC . Is there any dedicated channel for this project?

[2020-02-22 10:20] maze-runnar commented on #5
I am good in Python, Flask, python, REST API, webdesign (UI/UX specialized). I am good to start with the project but there is not much info in readme file, where could I find the detailed info about the project about setup and other.

[2020-02-24 08:17] lachmanfrantisek commented on #5
@maze-runnar

Thanks for your interest in the task!

Ideally, ping @csomh, mentor of the task, on email (hcsomort@redhat.com) and we will send you more information where/how to start.

Since Hunor is out for some days, add me (flachman@redhat.com) to CC so I can send you the info sooner.

[2020-02-24 08:47] maze-runnar commented on #5
Thanks @lachmanfrantisek .

[2020-02-24 08:48] maze-runnar commented on #5
@lachmanfrantisek , can i please add you to gitter or only IRC?

[2020-02-24 09:23] lachmanfrantisek commented on #5
For initial contact, please use an email, since we have all the info and useful links prepared in the form of an email.

Otherwise,  you can also easily reach me [on Telegram](https://t.me/lachmanfrantisek). Another option is IRC on Freenode in the #packit or #fedora-summer-coding channels. I’m usually online 8-17 UTC on weekdays, so I should be relatively quick in replying to pings during that pe

[2020-02-24 12:18] lachmanfrantisek opened #12 "Copy pre-commit config"
- [ ] copy the pre-commit configuration from another project (like https://github.com/packit-service/packit , https://github.com/packit-service/packit-service or https://github.com/packit-service/ogr)
- [ ] try it and tweak if needed

[2020-02-24 12:25] lachmanfrantisek opened #13 "Setup zuul"
- [ ] get inspired by the other projects in the packit-service organisation
- [ ] look at the docs (https://github.com/packit-service/research/tree/master/zuul)
- [ ] create necessary files (like we have in other repos)

What will be run in the pipelines:
  - have pre-commit as a first job (#12 ) (`pre-commit run --all`)
  - have some tests as a second job (https://github.com/packit-service/dashbo

[2020-02-24 12:57] ssd71 commented on #12
Hello! I would like to work on this

[2020-02-24 18:56] SudhanAruna commented on #12
I added pre commit config file. Any thing i should add?

[2020-02-24 18:57] SudhanAruna commented on #12
I added the pre commit configuration file. Any thing i should add?

[2020-02-25 05:53] lachmanfrantisek commented on #12
Thanks. See [the related PR](https://github.com/packit-service/dashboard/pull/14).

[2020-02-25 12:06] rpotter12 opened #15 "Not able to run app.py"
Hi
I am a GSoC aspirant. I am looking forward to applying for GSoC in fedora.

I was trying to run app.py and I got this -
![Screenshot from 2020-02-25 17-28-11](https://user-images.githubusercontent.com/34352567/75245704-40432380-57f4-11ea-875c-0f256318f875.png)
![Screenshot from 2020-02-25 17-28-23](https://user-images.githubusercontent.com/34352567/75245722-46390480-57f4-11ea-8db4-2b80b9efbca4.

[2020-02-25 13:59] lachmanfrantisek commented on #15
Hi @rpotter12 !

Try using a `run` target from `Makefile`:

[code]

You can see that it actually runs this command:

[code]

(The `FLASK_APP=packit_dashboard.app` will probably solve your problem.)

[2020-02-26 02:38] rpotter12 commented on #15
@lachmanfrantisek Thanks :)

[2020-02-26 07:35] #15 closed

[2020-02-27 11:48] tyll opened #119 "RFE: Make successful build message more specific"
The message for successful Copr builds looks like this:

[code]
from https://github.com/nmstate/nmstate/pull/852#issuecomment-591921005

This could be more specific:
- It mentions Fedora but Fedora is not part of the configured chroots
- It mentions only RHEL 8 but it should also work for CentOS and probably also RHEL/CentOS 7 with the correct command
- It does not mention how to install/update th

[2020-03-02 10:57] lachmanfrantisek commented on #13
I've added the missing link. (We can start working on it.)

[2020-03-02 22:59] ritwickraj78 opened #18 "Making Makefile on Ubuntu gives error"
sudo: dnf: command not found
Makefile:5: recipe for target 'install-dependencies' failed
make: *** [install-dependencies] Error 1

![Screenshot from 2020-03-03 04-27-09](https://user-images.githubusercontent.com/43514828/75725934-6b9fa400-5d07-11ea-9bb4-f3faaa5f4234.png)

[2020-03-02 23:01] ritwickraj78 commented on #18
The dnf command is not recognised by Debian, instead using apt does the job. I hope that should work. @csomh @lachmanfrantisek .

[2020-03-02 23:14] ritwickraj78 commented on #18
I have locally built just the dashboard on my system to work on it. Will that be an issue ?

[2020-03-03 01:49] rishavanand commented on #18
The make file is actually written for Fedora which uses DNF as it's package manager (next gen YUM), if I'm correct.

[2020-03-03 07:30] lachmanfrantisek commented on #18
You are right, we use the `dnf` as a package manager -- we can fix this problem by:
- Finding the right package manager.
- Have a variable for that.
- Use some general tool like ansible playbook with [package module](https://docs.ansible.com/ansible/latest/modules/package_module.html).

[2020-03-03 08:28] ritwickraj78 commented on #18
@lachmanfrantisek Can I take up this issue?

[2020-03-03 12:08] ritwickraj78 commented on #18
@lachmanfrantisek I have made a PR referencing this issue. If you could please review it.

[2020-03-03 15:28] #18 closed

[2020-03-03 15:48] #12 closed

[2020-03-04 16:57] shreyaspapi commented on #13
I can work on this issue.

[2020-03-04 17:57] rishavanand commented on #5
@jpopelka Is there any way I can help to store data in Postgresql instead of abusing Redis?

[2020-03-05 07:09] lachmanfrantisek commented on #13
@shreyaspapi Nice!

[2020-03-05 08:20] IceWreck commented on #13
@lachmanfrantisek
Since he is working on the zull part, can I work on the tests part?

[2020-03-05 08:32] lachmanfrantisek commented on #13
I'll remove the testing part from this issue and create a new issue for tests so we can track that -- @shreyaspapi, is that ok for you?

[2020-03-05 11:20] shreyaspapi commented on #13
@lachmanfrantisek yeah, that would be fine.

[2020-03-05 15:12] lachmanfrantisek opened #21 "Setup tests"
- [ ] Create some tests.
- [ ] Setup the directory structure as we have in other projects.
- [ ] Add Makefile target for that.
- [ ] Make the tests in a way we can easily run them in the CI.

[2020-03-05 15:14] lachmanfrantisek commented on #21
@IceWreck do you wantto work on it?

[2020-03-05 15:15] lachmanfrantisek commented on #13
I've split the task and updated the docs.

[2020-03-05 15:15] IceWreck commented on #21
Yes

[2020-03-05 15:15] lachmanfrantisek commented on #21
@IceWreck that was qucik..;)

[2020-03-05 15:17] IceWreck commented on #21
Yeah I had my email open for homework and saw your message.

[2020-03-05 15:58] jpopelka commented on #5
@rishavanand I'm not sure where we actually are in the process of moving from Redis to Postgresql.
We have a ticket for the migration in our internal tracking tool and no one is going to work on that at least in the following 2 weeks, so there is space for you to work on that.
However, it first needs some design. We don't want to blindly migrate all data as they are, but we first
need to decide wh

[2020-03-06 11:30] TomasTomecek commented on #5
well yeah, get into packit service repo, open the rest api code and start replacing redis calla with psql calls, I can create a more precise issue once in front of a real pc

[2020-03-06 13:40] shreyaspapi commented on #13
Please don't merge until I do the necessary changes to https://softwarefactory-project.io/r/config/

[2020-03-07 17:31] rishavanand commented on #5
thanks @TomasTomecek on the issue already.

[2020-03-12 18:09] pulkitrissam10 commented on #5
@dhodovsk can i work on this issue ?

[2020-03-13 09:00] TomasTomecek commented on #5
I'd say this issue will get solved once we complete https://github.com/packit-service/packit-service/issues/459

[2020-03-16 11:04] #21 closed

[2020-03-17 10:16] shreyaspapi commented on #13
@lachmanfrantisek Anything else needed here?

[2020-03-17 10:35] lachmanfrantisek commented on #13
@shreyaspapi probably nothing, thanks!

[2020-03-17 10:35] #13 closed

[2020-03-22 11:23] csayaan opened #27 "Error while try to run on local machine !"
![Screenshot from 2020-03-22 16-51-46](https://user-images.githubusercontent.com/46599244/77248195-92ddf700-6c5d-11ea-80ed-9ad136c6eae2.png)
What to do ???

[2020-03-22 12:35] rishavanand commented on #27
Node modules directory seems to be missing. Can you do a `npm i` and then try again?

[2020-03-22 19:23] csayaan commented on #27
Can You help me with the CLI for run this repo into my local machine ?

[2020-03-23 07:49] TomasTomecek commented on #27
You're clearly using an older version of python since it doesn't recognize the f-string syntax. All our projects require python3.6+

In Fedora 31 we now have:
[code]

[2020-03-23 07:54] csayaan commented on #27
I am using Ubuntu 18.04
![Screenshot from 2020-03-23 13-22-44](https://user-images.githubusercontent.com/46599244/77294082-98911680-6d09-11ea-9713-15b2d5c55432.png)

[2020-03-23 08:16] lachmanfrantisek commented on #27
As you can see in the logs, you run the app with the Python2.7.

[2020-03-23 08:22] csayaan commented on #27
If I do this then this is happening !
![Screenshot from 2020-03-23 13-22-44](https://user-images.githubusercontent.com/46599244/77296216-536ee380-6d0d-11ea-86cb-00537d0940ce.png)

[2020-03-23 08:22] csayaan commented on #27
![Screenshot from 2020-03-23 13-50-41](https://user-images.githubusercontent.com/46599244/77296358-87e29f80-6d0d-11ea-9a47-28a20cbba80d.png)

[2020-03-23 08:25] csayaan commented on #27
What are the commands for run this app successfully?

[2020-03-23 08:46] lachmanfrantisek commented on #27
Try `make run` from the top directory. It should call right `flask` ( = `flask-3`) and make the imports work.

[2020-03-23 09:21] TomasTomecek opened #28 "Update description of this repo"
Our README is pretty basic, can we get some more text in there?

[2020-03-23 09:21] TomasTomecek opened #29 "add contributing.md"
...and describe how to run dashboard locally and in a container

[2020-03-23 09:21] TomasTomecek commented on #27
Run it with python 3.6+

We have a make target to run it in a local environment:
[code]

Feel free to override the command if flask-3 executable is not available on your system.

[2020-03-23 09:52] rishavanand commented on #29
I can take this up. I'll pickup the template from packit-service repo and make modifications as needed. Will discuss the missing parts here.

[2020-03-23 11:08] TomasTomecek commented on #29
awesome, thank you!

[2020-03-23 13:40] csayaan commented on #27
It works.. Thank you very much @TomasTomecek , @lachmanfrantisek  for your great support.
Should I update the README file with the installation guide ? or we can do it later ?

[2020-03-23 13:50] csayaan commented on #28
I can update it with the installation guide.

[2020-03-23 14:27] #27 closed

[2020-03-23 14:39] lachmanfrantisek commented on #27
If you find some info that can be relevant to others, create a PR with that. Thanks

[2020-03-23 14:53] TomasTomecek commented on #28
yup, go ahead

[2020-03-23 15:44] csayaan commented on #27
Ok , Thanks.

[2020-03-24 13:35] devarshigoswami commented on #29
If this task has not been resolved, can I work on it?

[2020-03-24 15:08] lachmanfrantisek commented on #29
I've already assigned @rishavanand so we are expecting a pull-request from him. If you want to contribute, look at the other issues here or [in the packit-service repository](https://github.com/packit-service/packit-service/issues)...

[2020-03-25 12:58] devarshigoswami commented on #28
If this issue isn't resolved yet, can I have a go?

[2020-03-25 15:27] lachmanfrantisek commented on #28
It is being fixed by https://github.com/packit-service/dashboard/pull/31

[2020-03-30 13:31] #29 closed

[2020-05-22 08:56] #28 closed

[2020-05-27 06:16] csomh opened #35 "Dashboard lists jobs from pull-requests"

[2020-05-27 06:17] csomh opened #36 "Dashboard lists projects"

[2020-05-27 06:17] csomh opened #37 "Charts for jobs"
The jobs page in Dashboard should show some useful charts.

TODO for @csomh to figure out what these should be.

[2020-05-27 06:17] csomh opened #38 "Charts for projects"
The project page in Dashboard should show some useful charts.

TODO for @csomh to figure out what these should be.

[2020-06-15 10:45] csomh opened #41 "Write a blog post on https://communityblog.fedoraproject.org/ about the work done for Milestone 1"

[2020-07-01 07:53] csomh commented on #41
[GSoC Progress Report: Dashboard for Packit](https://communityblog.fedoraproject.org/gsoc-progress-report-dashboard-for-packit/) :tada:

[2020-07-01 07:53] #41 closed

[2020-07-23 10:50] csomh opened #47 "Fix name of the Copr Builds done for branches"

[2020-07-23 10:52] csomh opened #48 "Reverse the links for the individual project page and the link to GitHub"

[2020-07-23 11:02] #36 closed

[2020-07-28 10:23] TomasTomecek opened #50 "RFE: display SRPM builds as well"
https://dashboard.packit.dev/jobs I can see copr builds, koji builds and test runs

Can we get srpm builds as well? With a link to PR and logs, that would be awesome, thanks!

[2020-08-03 10:36] #47 closed

[2020-08-03 10:36] #48 closed

[2020-08-03 11:25] IceWreck opened #53 "Link to the issues/pull-requests/branches of the repository"
Each git forge has its own url scheme for issues, pull/merge requests and braches. Since we now provide the forge name and other repo details in the API, dashboard should make links according to the respective forge's url scheme.

- /project.../issues
- /project.../releases
- the trigger column in jobs view should link to pull request or branch
- copr link should be moved over to the build id colu

[2020-08-03 11:28] IceWreck opened #54 "Use icons for git forges"
- the forge icon at /projects/... is hardcoded to github right now, replace it with the correct one
- Jobs view should also display git forge icon in every row

[2020-08-03 12:12] lachmanfrantisek commented on #53
I'm thinking if you can't use OGR for that:

- github: https://github.com/packit/ogr/blob/462b484164d82822e6ce918292d01772a9eb48a2/ogr/services/github/pull_request.py#L66-L68
- pagure: https://github.com/packit/ogr/blob/462b484164d82822e6ce918292d01772a9eb48a2/ogr/services/pagure/pull_request.py#L68-L77
- gitlab: https://github.com/packit/ogr/blob/462b484164d82822e6ce918292d01772a9eb48a2/ogr/servi

[2020-08-03 12:44] IceWreck commented on #53
But then using ogr this will have to be done on the API right? I was thinking of doing this client side. (In JS)
Do we need to provide these links in the API considering it will be redundant info?

[2020-08-04 07:36] lachmanfrantisek commented on #53
If you don't want to have GitHub authentication in the dashboard, then yes. (It will really not be so hard, but we might want to avoid this.)

We can think about some generic way to to get those values since we might find also other fields that can be easily reached from OGR. (e.g. author of the PR, comments, if it is merged,...) You can also use GitHub without a token, but there is a limit of the

[2020-08-04 07:55] csomh commented on #53
Are these links already available in the payloads based on which the data is created in the database? If yes, it would be probably better to save them in the database and make them available through the API.

This way we wouldn't need to re-compute information which was already made available.

[2020-08-04 08:26] IceWreck commented on #53
Cant we hardcode url schemes for forges and make a function to return the correct url?

Like if forge is github then pull request link will be https://github.com/{namespace}/{repo_name}/pulls/{pr_id} and a similar scheme for gitlab

[2020-08-28 12:31] #53 closed

[2020-08-28 12:31] IceWreck commented on #50
CLosed via #55

[2020-08-28 12:32] #50 closed

[2020-08-28 12:32] #5 closed

[2020-08-31 09:22] TomasTomecek commented on #54
I can see that jobs have a github icon right now.

[2020-08-31 09:23] TomasTomecek opened #56 "SRPM jobs: add datetime"
I'd love to see a datetime of the SRPM build so that I know the timespan I am looking at.

[2020-08-31 10:25] IceWreck commented on #56
Is that stored the in db right now? We will have to store it similar to copr_build_submitted_time.

We can also get a copr build associated to an SRPM Build and then get its time but idk if thats efficient or fast enough

[2020-08-31 10:30] IceWreck commented on #54
It also shows you a generic icon in case of git.stg.centos (no icon for pagure on patternfly :frowning_face: ) or anything else thats not github or gitlab.

[2020-08-31 11:11] TomasTomecek commented on #54
I think that's good enough, for pagure, we can track that as an issue in the meantime.

[2020-08-31 11:15] TomasTomecek commented on #56
If it's not, we should definitely store that as an separate entry to know when packit-service is processing the SRPM.

[2020-10-29 18:12] #56 closed

[2020-11-04 08:29] lachmanfrantisek opened #61 "List projects on instance or in the namespace"
Now, I can't search all the projects on one git forge -- e.g. all the GitHub projects.

It would be nice to allow `*` or any regex?

A related one, what about treating empty field(s) as all(=`*`)?

So the task here is to:
* [x] allow a search of all projects on the git forge (only the first field is set) - done in #122
* [x] allow a search of all project for a namespace (only the forge and namespa

[2020-11-04 08:40] lachmanfrantisek opened #62 "Better PR and release icon"
I've been a bit confused about the PR icon in the project list.

![Screenshot from 2020-11-04 09-30-52](https://user-images.githubusercontent.com/20214043/98087543-891da280-1e80-11eb-9f77-3e486b1f37bd.png)

What about something like this?

![](https://img.icons8.com/windows/452/pull-request.png)

And we can maybe use [`fa-tag`/`fa-tags`](https://fontawesome.com/v4.7.0/icon/tags) for release.

Or m

[2020-11-04 08:55] lachmanfrantisek opened #63 "Ignore projects without any handled item"
Most of the project on the projects page is irrelevant because they don't handle any pr/issue/branch/release.

What about skipping those projects (they don't bring any value)? Or adding some option to opt-in/opt-out from listing them.

[2020-11-05 04:11] IceWreck commented on #63
I see two options here,
a) handling this in the query in service
b) hiding the projects which have 0 PRs && 0 Branches handled

the second one would be easier and would allow us to add a toggle to opt-in/opt-out from viewing them

[2020-11-05 04:45] IceWreck commented on #62
We are currently using icons from https://www.patternfly.org/v4/guidelines/icons/

While searching for icons, I couldn't find suitable ones for PRs and releases. But Patternfly does have a 'tags' icon which we can use for releases.

Can you look at this list and see if you find a suitable one. If not I'll manually import the SVG for the PR icon.

[2020-11-05 07:13] lachmanfrantisek commented on #62
@IceWreck Thanks!

What about `fa-arrow-circle-up` or `pf-icon-bundle`/`pf-icon-package` for release?

You are right, there is nothing for the PR, can you please import the svg so we have something like we are used to on GitHub?

[2020-11-05 07:22] lachmanfrantisek commented on #63
I am for the second one because of the reason you described.

Just a detail, I would count also issues and releases (so all four numbers we show have to be zero).

off-topic: It might sound picky from me to create multiple issues here, but I would like to say it's really cool that we have the dashboard! (I needed to contact our users and was glad that I can use dashboard instead of the database..;

[2020-11-05 07:57] lachmanfrantisek commented on #63
Thanks @IceWreck !

[2020-11-19 16:03] lachmanfrantisek commented on #38
@IceWreck Do you still want to work on it? (I know GSOC is over, but I am asking since you are assigned and maybe still interested..;)

[2020-11-19 16:05] lachmanfrantisek commented on #37
@IceWreck @csomh Do we still want it? Do we want to describe this more specifically?

[2020-11-19 16:07] lachmanfrantisek commented on #54
What about closing it? Isn't the general one for Pagure enough? Or, do we want to convert it manually?

[2020-11-19 16:14] IceWreck commented on #38
We couldnt decide what we actually needed graphs/charts for where they would be useful at that time.

And I'm working on #64 rn, given it two attempts now, had some progress but am still struggling with async issues during implementation. Will give it another try this weekend. On the plus side, Ive learnt a lot about how async stuff works in JS.

[2020-11-20 08:58] csomh commented on #37
Yes, I think this would be useful to have. But I have no clue when I'll have time to describe this in more detail.

The first chart could be just visualising the rows in the different tabs on the *Jobs* page as a line-chart, as *time / number of jobs submitted during a period*. *Period* could be something adjustable, like: hour, day, week, month...

[2020-11-20 10:08] lachmanfrantisek commented on #38
@IceWreck thanks a look, no worries. Take your time. We're glad that you still collaborate with us..;)

[2021-01-04 08:17] lachmanfrantisek commented on #61
I am still interested in this...;)

[2021-01-05 07:34] lachmanfrantisek commented on #62
Still valid.

[2021-01-05 07:36] lachmanfrantisek commented on #63
This is solved, isn't it?

Only the last point (`Add toggle to view ignored projects (later)`) is missing and will be done later.

[2021-01-05 07:36] #63 closed

[2021-01-25 14:54] lachmanfrantisek commented on #38
Same as the other, similar, one:

[2021-01-25 14:54] lachmanfrantisek commented on #37
Let's leave it open one more time. We might want to have some independent tasks here for external contributors...

[2021-02-02 04:20] #54 closed

[2021-02-08 08:42] lachmanfrantisek opened #70 "Show SRPM url"
- [ ] Add a new column to the `SRPM Builds` tab [here](https://dashboard.packit.dev/jobs). (Or find a better place where we can put this info.)

Requires: https://github.com/packit/packit-service/issues/958

[2021-02-08 11:44] mfocko commented on #70
could be probably included in packit/packit-service#912

[2021-02-08 12:57] lachmanfrantisek commented on #70
@mfocko I don't so -- it's about date-time and result page, not a dashboard.

[2021-02-08 13:50] mfocko commented on #70
yeah I know, but we could include more info in the SRPM logs page apart from logs, e.g. commit sha, said date-time or also the URL

from commit status we can get to build result and from there to srpm logs and COPR or SRPM URL
however from dashboard we can get **only directly** to COPR or SRPM **logs**, so adding more info to either the page with SRPM logs or dashboard would be beneficial

[2021-02-09 08:36] lachmanfrantisek commented on #70
Since we want to replace result-page by the dashboard, I would leave this issue as is (here).

But you have a good point, there is other information missing on the dashboard site. Although I expected this to be done when working on the internal SPIKE card, we can create a new issue that will define some dashboard alternative to the current result page(s). (The table for all results will not be eno

[2021-02-09 09:05] IceWreck commented on #70
i don't have the local dev environment for packit service setup right now but if you can make that information available via the API, I'll add it to the dashboard

[2021-02-09 09:11] lachmanfrantisek commented on #70
@IceWreck That would be really nice!

Sure, we can. I'll describe at least some basics in a new issue so you can know what to expect.

[2021-02-09 09:49] lachmanfrantisek opened #71 "Result page(s)"
- Create a nice view of a single result. (We already have a table/list of them at https://dashboard.stg.packit.dev/jobs).
- Basically, it should be a nice-looking variant of the old result page `packit-service` is providing.

Here is a list of information I would like to see for all job types:
- Project name and link to the upstream
- Information about upstream trigger (PR, branch, release) and li

[2021-02-09 09:50] lachmanfrantisek commented on #70
Here it is: #71

[2021-02-09 18:56] IceWreck commented on #71
So we need an API endpoint which provides all these details in JSON. Something like
* `/srpm-builds/{db_id}` which provides the same info in JSON as https://stg.packit.dev/srpm-build/3070/logs
* `/koji-builds/{db_id}` for https://prod.packit.dev/koji-build/59
* `/copr-builds/{db_id}`  for https://stg.packit.dev/copr-build/8830

In these example links, the integers are db_ids.

Note we already have

[2021-02-10 08:02] lachmanfrantisek commented on #71
@IceWreck Yes, you're right. Here is an issue for that in the packit-service repo. I hope someone will take a look soon.

packit/packit-service#966

[2021-02-12 16:09] lachmanfrantisek commented on #71
@IceWreck API is now ready on stage (https://stg.packit.dev/api/) if you want to try it.

Let us know if there is some problem with the format/values. Thanks!

[2021-02-14 17:21] IceWreck commented on #71
Will work on the results page tomorrow (Monday)

[2021-02-16 08:43] lachmanfrantisek commented on #70
The API already contains the URL value. (example: https://stg.packit.dev/api/srpm-builds/3000)

[2021-02-25 16:14] johannbg opened #75 "Home page is empty"
There is no content being displayed on the dashboard other than "Dashboard Page Title" which is kinda useless...
![packit-dashboard-home](https://user-images.githubusercontent.com/1309070/109181994-70652f80-7784-11eb-83a6-f6cfbc43910d.png)

[2021-02-25 16:39] johannbg opened #76 "Project Page lacks filters"
I'm pretty sure Adam Saleh story's are fascinating but regardless his storydrafts are not packaged in Fedora thus there needs to be means to filter such stuff out.  That said you will pretty fast exhaust all infra's resources if everything and everyone is allowed to use packit for anything so I recommend that packit is limited only to official teams/maintainers and their official maintained packag

[2021-02-25 16:54] johannbg opened #77 "Never place status/healthcheck inside a project."
If the dashboard.packit.dev site goes down you cant check the api health status which is like having to walking into a burning building to check if the water flow is OK :smile:

Place a status page outside the project's infrastructure, which checks for all the relevant stuff and link to that page instead.
Like for example  [1][2].
![Project-Status](https://user-images.githubusercontent.com/1309070

[2021-02-25 17:10] IceWreck commented on #76
Hey Jóhann, these are filtered. Projects that have packit-service enabled (perhaps the user enabled it for all of their repos) but haven't ever touched packit at all are already hidden in the dashboard.

Some projects might have accidentally interacted with packit like the ones you pointed out, those are still visible.

As for the rest of what you suggested, someone from the Packit team will hopef

[2021-03-01 08:48] lachmanfrantisek commented on #76
@IceWreck thank you for answering the filtering part. You are right.
It was originally requested by me in #63 and implemented by @IceWreck. Not sure if we can easily filter by a better rule than "at least one activity we have reacted on".

@johannbg Regarding the proposal about being strictly Fedora only, that's a different topic and much harder to answer, but thanks for creating the issue.
* We d

[2021-03-01 09:32] TomasTomecek commented on #75
Agreed! I personally go to "Jobs" most of the time, not sure if that view should be the default. Also "Projects" could be a good initial view.

Where do others usually go?

[2021-03-01 09:51] johannbg commented on #75
There is little value for individuals or teams to know about every job ( and then some since filters aren't working properly ) packit is performing but as a landing page some statistic information and or overall job page might be useful.

What's the initial scope of the dashboard part of the project?
( is it thought as just somekind of information radiator or configuration platform of some sort? O

[2021-03-01 10:33] lachmanfrantisek commented on #75
@johannbg You are right. It does not look nice. We want to add some statistics/status/charts/... there. Sadly, the dashboard wasn't a high priority in the last months.

Originally, it was created as a companion to our result pages. I would say a nice view of our database.
It was done as a GSOC project ([task description](https://docs.fedoraproject.org/en-US/mentored-projects/gsoc/2020/ideas/#_dash

[2021-03-02 08:06] TomasTomecek commented on #75
@lachmanfrantisek very good explanation - I'd say that right now the dashboard is really just a dashboard - overview what packit is doing with not many valuable info for users of packit - #73 will change it massively

Once we enable authentication via github and gitlab, the dashboard will start offering tailored info about projects you are working on, though we are definitely a few months away fro

[2021-03-02 08:43] johannbg commented on #75
Will packit be limited to the Fedora/RHEL ecosystem or are there any "future" plans to allow it to be integrated with other distributions like (Open)Suse, Debian etc.

[2021-03-03 08:41] TomasTomecek commented on #75
We don't have any plans to support other distributions right now - the main reason being that we don't know how those distributions work and no one requested such a thing from us so far.

[2021-03-03 08:53] johannbg commented on #75
Not doing so you end up narrowing the packit end users base strictly to RH's own maintainers who are upstream and maintaining their component downstream, which begs the question why packit is not just RH internal tool,

[2021-03-03 16:26] thrix opened #80 "It would be nice to have timestamps on the test jobs page (at least)"
Without timestamps it is hard to tell when the jobs run, which can be handy.

https://dashboard.packit.dev/jobs

[2021-03-08 08:47] lachmanfrantisek commented on #61
Let's leave it open -- this can be a nice issue to start with.

[2021-03-08 18:58] lachmanfrantisek commented on #80
Sadly, we don't have this info in the database yet. I'm creating an issue for that: packit/packit-service#1015

[2021-03-09 09:27] lachmanfrantisek commented on #71
The PR is merged, I think we can close it. If there are some problems, we can create new well-defined issue.

[2021-03-09 09:27] #71 closed

[2021-03-11 14:20] mfocko commented on #70
Resolved by 5c0bb706214e34c660db28f0b703f9d0f3d7ec9a, it is kept in result page
@lachmanfrantisek do we still want the column in the table or are we fine with the current state?

[2021-03-11 15:55] lachmanfrantisek commented on #70
@mfocko You are right, we can maybe improve formatting, but good enough for now:

![Screenshot from 2021-03-11 16-53-52](https://user-images.githubusercontent.com/20214043/110815161-7f6ed600-828a-11eb-9008-e7544a302dc2.png)

[2021-03-11 15:55] #70 closed

[2021-03-22 14:59] lachmanfrantisek commented on #62
I still find this useful:

- [ ] Use `fa-arrow-circle-up` or `pf-icon-bundle`/`pf-icon-package` for release. (Others, what do you prefer?)
- [ ] Convert or find a better icon for pull-requests.

[2021-03-24 09:33] TomasTomecek commented on #62
I'm wondering if we could use our Red Hat branded icons, thought I couldn't find any which are related to git :/

I also used an icon for my blog from this site (which are free to use w/ attribution): https://www.flaticon.com/free-icon/triple-arrow-merging-to-one_33290?term=merge&page=4&position=78&page=4&position=78&related_id=33290&origin=search

we could e.g. use
![](https://www.flaticon.com/sv

[2021-03-30 10:52] mfocko opened #86 "List of COPR builds"
In the list of jobs, we provide URL to our own result pages in all cases except COPR

- [ ] Switch URL to our result page (or add new column `Results`)

[2021-03-30 12:04] IceWreck opened #87 "Better Tooling ?"
Our current way to compile/transpile Javascript is a [custom webpack config](https://github.com/packit/dashboard/blob/main/webpack.config.js), which we needed because React's default preconfigured Create React App toolchain (which itself is based on webpack) couldn't inject environment variables in JavaScript at build time.

I realized that it can do that now, but only with env vars starting with

[2021-04-08 11:10] TomasTomecek commented on #87
me too :)

+1 on simplifying things and dropping the config if we don't need it any more

[2021-04-13 14:25] #86 closed

[2021-04-14 18:16] IceWreck commented on #87
How do you provide an environment variable at build time ? There is no ARG command in the Dockerfile currently. Is there another way to do it that I'm unaware of ?

[2021-04-14 20:28] mfocko commented on #87
Example here: https://github.com/packit/deployment/blob/main/openshift/packit-service.yml.j2#L51
And this one is for dashboard: https://github.com/packit/deployment/blob/main/openshift/dashboard.yml.j2#L48

[2021-04-14 21:11] IceWreck commented on #87
Thanks !

![image](https://user-images.githubusercontent.com/18102790/114778948-1c91c280-9d93-11eb-8b01-30d4466c3e8c.png)

These look like they're provided at runtime, after the image is built. (please correct me if I'm wrong though) That is okay currently, but with the new tooling we will have to pass it at build time, with a build arg providing the env variable, with different env vars for the s

[2021-04-15 09:02] mfocko commented on #87
oh ok, sorry
what about this then? https://github.com/packit/dashboard/blob/main/.github/workflows/build-and-push.yml#L41
looks like it is possible with that action: https://github.com/marketplace/actions/buildah-build#inputs-for-build-without-dockerfile

[2021-04-15 14:40] IceWreck commented on #87
Yes, thanks. This is it. We can specify build args here.

[2021-04-20 14:45] mfocko opened #94 "Testing Farm results"
Route: `/results/testing-farm/<id>`

We show `<a>` link for testing farm even though we do not have any link yet.

[2021-04-20 18:25] #94 closed

[2021-04-27 05:56] lachmanfrantisek opened #98 "Stage icon"
Would it be hard to use the stage icon in the stage deployment?

It's not so important but would be nice to match the behaviour on Github/GitLab where we use different avatars.

![Screenshot from 2021-04-27 07-54-37](https://user-images.githubusercontent.com/20214043/116192246-dabb3180-a72d-11eb-80c6-4b8dd0a52726.png)

![Screenshot from 2021-04-27 07-54-24](https://user-images.githubusercontent.co

[2021-04-27 07:40] lachmanfrantisek opened #99 "Link Copr build result page from the test result page"
Here is the current state of the test result page:

![Screenshot from 2021-04-27 09-36-31](https://user-images.githubusercontent.com/20214043/116203626-2c6ab880-a73c-11eb-9fa9-952051079d89.png)

For comparison, in the Copr build result page, we have a link for an SRPM result page:

![Screenshot from 2021-04-27 09-36-48](https://user-images.githubusercontent.com/20214043/116203893-781d6200-a73c-11e

[2021-04-27 08:15] lachmanfrantisek commented on #75
To make some progress on the original issue, let's specify an outcome of this task:

* [ ] Provide a suggestion(s) about the possible look of the home page. (static text, links to docs, charts, statistics, last jobs, ...)
* [ ] Discuss the plan here and/or with the team.
* [ ] Implement the plan.

[2021-04-27 09:49] IceWreck commented on #98
Would be simpler once #96 is done because its compiling different versions of the dashboard at build time instead of modifying differences between stg and prod on the fly at every request.

[2021-04-27 09:53] IceWreck commented on #98
Speaking of #96, I see the image is built here:
https://github.com/packit/dashboard/blob/main/.github/workflows/build-and-push.yml#L41
The tags specified are : `${{ steps.branch_tag.outputs.tag }}`, but is this a list of variables ?

We probably need separate tasks for stg and prod tags because we need to specify separate build tags in both

[2021-04-27 10:04] lachmanfrantisek commented on #98
This is only an image tag, not the variables. (`registry/image:tag`)

What we need is probably `build_args` (See the options here: https://github.com/marketplace/actions/buildah-build)

And btw, thanks for working on it!

[2021-04-27 10:06] mfocko commented on #98
Those are tags for image, correct me if I'm wrong, `main` gets built as `stg` and `latest`, `stable` gets built as `prod` and then you can use those images as `quay.io/packit/dashboard:stg` for example...

In the related issue I think I linked the docs to the buildah GitHub action... they have a separate field for specifying the `ENV`, looks like `envs`

[2021-05-14 09:02] lachmanfrantisek opened #103 "Install instructions for failed builds"
Is it anyhow useful to show install instructions for builds that failed?

Example: https://dashboard.packit.dev/results/copr-builds/110905
![Screenshot from 2021-05-14 11-00-00](https://user-images.githubusercontent.com/20214043/118247646-b25c6280-b4a3-11eb-8408-12959116e6c5.png)

[2021-05-14 11:54] mfocko commented on #103
will have a look

[2021-05-14 13:47] #103 closed

[2021-05-17 10:41] mfocko commented on #99
Whoops, this is done, fixed by #100

[2021-05-17 10:41] #99 closed

[2021-05-17 10:42] mfocko commented on #87
Fixed by #96?

@IceWreck or is there something more to do?

[2021-05-17 13:24] IceWreck commented on #87
No, its done

[2021-05-17 13:24] #87 closed

[2021-05-21 16:35] lachmanfrantisek opened #107 "Make the URL of Testing Farm results more visible"
After helping someone with the TF today I feel like It's now not clear where a user can find more details about the TF result.

![Screenshot from 2021-05-21 18-29-27](https://user-images.githubusercontent.com/20214043/119169704-9ee06700-ba62-11eb-8322-70b863da1895.png)

My concerns:
* People don't need to know doest the Testing-Farm mean.
* The term `result` is used as a link to the Copr build, no

[2021-06-02 16:12] #38 closed

[2021-06-02 16:12] #37 closed

[2021-06-03 09:27] lachmanfrantisek commented on #77
Still valid.

[2021-06-03 09:36] lachmanfrantisek commented on #76
I think we can close this issue -- we already ignore projects without any activity and for special requests regarding searching/filtering, we can create a dedicated issue if needed (e.g. #61).

[2021-06-03 09:36] #76 closed

[2021-06-03 10:02] lachmanfrantisek commented on #77
@johannbg OK, looks like there was no response from our team. Sorry for that.

* This is about API status, not the status of our service -- for the service, we are working on a dedicated webpage at https://github.com/packit/status/
* The dashboard shares the infrastructure with the service.
* Otherwise, the only connection is over the public API of the service.

So, some suggestions:
* Remove the

[2021-06-04 06:56] lachmanfrantisek commented on #77
Small update, the dedicated status page is now up: https://status.packit.dev/

[2021-06-04 11:45] lachmanfrantisek commented on #80
Just implemented the API part in packit-service.

[2021-06-08 12:14] lachmanfrantisek commented on #77
Today, we agreed on removing this page and linking the https://status.packit.dev/ from the menu instead. The status page does not run in the same infrastructure so we should be safe here.

[2021-06-10 12:52] mfocko commented on #75
Closed by #111, introduced links to documentation, GitHub namespace and contributing repository.

[2021-06-10 12:52] #75 closed

[2021-06-10 12:52] mfocko commented on #77
Closed by #111. Has been changed to link to dedicated status page.

[2021-06-10 12:52] #77 closed

[2021-06-23 12:22] TomasTomecek opened #114 "project pages violates CORS and cannot be loaded"
We got a report from @msehnout that they cannot load https://dashboard.packit.dev/projects/github.com/osbuild/osbuild

Easily reproducible, the error is:
[code]

Console seems to suggest that:

[code]

Do we just need to set some CORS-related header to make browsers happy?

[2021-06-28 15:01] jpopelka commented on #98
I guess this is still nice to have.
The #96 has been merged and the [buildah-build action in the github workflow already uses build-args](https://github.com/packit/dashboard/blob/34668d23c1abd39c52db54f8939d3989df2c8c83/.github/workflows/build-and-push.yml#L51).
Are there any unanswered questions here?

[2021-06-30 08:59] thozza opened #116 "[RFE] Add search functionality in the service "Jobs" tab"
The [Jobs tab](https://dashboard.packit.dev/jobs) of the service dashboard does not allow searching the list by any criteria. The list can be only sorted and not even by any column, only a subset of them.

One has to search on the page using the browser functionality, which is fine for new jobs, but not very convenient for jobs triggered e.g. 1 or 2 days ago. Due to pagination, one has to click mu

[2021-07-07 14:31] mfocko commented on #114
`https://prod.packit.dev/api/projects/github.com/osbuild`:
[code]

related to packit/packit-service#797

[2021-07-07 14:52] lachmanfrantisek commented on #114
@mfocko Good catch!

[2021-07-07 15:38] mfocko commented on #114
@lachmanfrantisek I could probably fit it in the card, also I'm wondering if it makes sense to have projects with no associated builds, maybe I should check against the DB how many rows does it affect

[2021-07-08 07:59] lachmanfrantisek opened #118 "Mention package NVR in the install instructions"
Part of #119.

We need to provide this information via Packit's API.

[2021-07-08 09:02] IceWreck commented on #98
Sorry, had exams.

The packit logo is used at 3 places. The topbar (defined in JS), the favicon (in the base HTML) and the high res icon that the browser uses for pinned sites (defined in `manifest.json`).

So I was thinking that instead of adding logic to auto switch between stg and prod icon in all of these places, we can just add another task in `recipe.yaml` to check the environment variable (

[2021-07-08 09:20] lachmanfrantisek commented on #114
@mfocko Can you please update the card/description to match the actual problem? (So do some database clean up.) What about closing in favour of packit/packit-service#797 update that one to cover this problem?

[2021-07-08 09:37] mfocko commented on #114
@lachmanfrantisek will do

[2021-07-08 10:09] ssbarnea opened #120 "Build logs should use use browser wrapping"
At this moment the build logs are not wrapped to browser window size and that makes it quite hard to read essential information from lines that are longer than the window.

https://dashboard.packit.dev/results/srpm-builds/28981

This [css hack](https://stackoverflow.com/questions/248011/how-do-i-wrap-text-in-a-pre-tag) seems to achieve the desired wrapping:
[code]

This behavior would also match w

[2021-07-08 15:15] TomasTomecek commented on #120
Thanks for opening the issue, indeed a good suggestion. I'm also wondering if patternfly has native support for terminal-like outputs.

[2021-07-08 15:53] ssbarnea commented on #120
Does https://github.com/patternfly/patternfly-design/issues/955 look familiar? ;) -- apparently things are moving slowly but in good direction.

[2021-07-09 13:32] TomasTomecek commented on #120
@ssbarnea nice!!

I can see some related PRs were already merged, e.g. https://github.com/patternfly/patternfly/pull/4029

shall we use that?

[2021-07-14 10:16] mfocko commented on #107
Current design: as seen in the description
Cards: ![](https://i.imgur.com/OMJKmZJ.png)
Description list: ![](https://i.imgur.com/kvAp5jj.png)
Grid and cards: ![](https://i.imgur.com/yLLqDlI.png)

Which one would we prefer?

[2021-07-14 10:24] mfocko commented on #80
Just had a look at prod API, it seems everywhere is `null` for the submitted time.

[2021-07-14 17:52] lachmanfrantisek commented on #107
To me, all the new variants look a bit messy. Is it only me?

[2021-07-15 08:26] jpopelka commented on #107
I like the last one (grid & cards) the most but I don't see how it's supposed to fix [the issue](https://github.com/packit/dashboard/issues/107#issue-898233407). (did we discuss that on grooming and I just forgot?)

[2021-07-15 08:26] csomh commented on #107
Yeah, I also think the current design has the best structure. Improving the wording should help with avoiding confusion.

[2021-07-16 08:53] ssbarnea commented on #120
If it was released I would clearly take a look at at it. Still, there is something confusing me about patternfly release process, apparently all tags are marked as prerelease when I look at https://github.com/patternfly/patternfly/tags

[2021-07-16 10:11] #114 closed

[2021-07-16 14:00] TomasTomecek commented on #120
@ssbarnea: @mfocko is already busy with some updates to the log-viewer as you can see above :) stay tuned!

[2021-07-19 10:50] mfocko commented on #120
Small update on the issue: I have tried the LogViewer, spotted 2 issues:

1. empty lines in logs made huge dead space, which I have fixed in upstream already
2. each line is estimated 60px height; that *at least from my perspective* is bigger issue than the logs not being wrapped, I will try to fix that in the upstream too

After fixing the 2nd issue we should be good to go :)

[2021-07-20 07:40] #61 closed

[2021-07-20 09:49] #80 closed

[2021-07-21 15:23] #98 closed

[2021-07-21 17:18] mfocko opened #126 "Link on logo"
Logo on page links to the page itself. Clicking on it opens dashboard in new tab.

How to reproduce:

1. Open dashboard
2. Click on packit logo
3. Dashboard gets opened in new tab

Expected outcome:

1. Current page is switched to the homepage of dashboard

[2021-07-21 17:20] mfocko opened #127 "Favicon"
Favicons don't work for the dashboard. They are caught by the React and 404 gets returned.

Can be reproduced:
- deployment of production and stage
- locally via container

**Cannot be reproduced**:
- locally via `yarn`

[2021-07-26 10:36] #107 closed

[2021-07-29 11:28] mfocko opened #130 "Single pipeline result page"
Create a result page for single pipeline (ideally with merged runs). Try to use as much as possible from the result components used so far.

Edit:
- make sure that all builds and tests are included in the view

[2021-07-29 11:30] mfocko opened #131 "Breadcrumbs"
Providing run ID in SRPM, Copr, Koji and TF API endpoints allows creating breadcrumbs for navigation through the whole pipeline of run builds or tests. Create a component that can be used at top of the result page for navigation through the pipeline. Optionally provide link to the pipeline result from #130

[2021-08-02 20:03] lachmanfrantisek opened #133 "PR/MR description in the pipeline view"
I spent the last day looking a lot into the `Pipelines` view and it would be really nice to get a PR/MR description when hovering on the PR/MR link.

Something like this:
![Screenshot from 2021-08-02 22-01-05](https://user-images.githubusercontent.com/20214043/127917017-48bbcf78-aa58-4e65-a26d-d9a2e39cc84a.png)

[2021-08-24 09:24] #120 closed

[2021-08-30 08:51] TomasTomecek commented on #130
Yes please!! Ideally with links to builds, logs, test runs for all the jobs; that would be mindblowing.

[2021-08-30 08:53] TomasTomecek commented on #133
Hm, would we have to provide it via packit's API or fetch from github on the client?

[2021-08-30 09:50] mfocko commented on #133
I think the biggest issue when running client-side is GitHub's _rate-limiting_. They do a nice thumbnail preview if you send link in Telegram, Discord, etc. So it may be worth a try to embed thumbnail into the tooltip of the link. However that might fail miserably :D

[2021-08-30 10:55] TomasTomecek commented on #133
worth trying! :)

[2021-09-02 08:31] lachmanfrantisek commented on #116
@mfocko might correct me, but I think we want to slowly get away from this view (at least for regular users) in favour of [pipelines view](https://dashboard.packit.dev/pipelines) and having this view for namespaces/projects as well. But you are right that some filtering might be handy. (We also plan to use GitHub authentication and have a view for the one user.)

So, what about changing this to se

[2021-09-13 09:39] mfocko opened #139 "Broken icons for Copr/Koji builds in pipeline view"
How to reproduce:

- lower width of view than full HD; by slowly narrowing the view it is possible to see the shrinking in progress

Doesn't happen with regular icons (can be seen on SRPM status on the screenshot), suspected bug on upstream.

Example:
![](https://i.imgur.com/zim8N3K.png)

[2021-09-13 09:40] mfocko commented on #139
Probably could be fixed via `min-width == width == max-width`

[2021-09-17 13:04] #139 closed

[2021-09-27 10:29] #126 closed

[2021-10-13 07:37] lachmanfrantisek commented on #127
Still relevant.

[2021-10-19 07:14] TomasTomecek opened #148 "pipelines view: continuously update the list in the background"
I tend to \<f5\> the list a few times a day - it would be very convenient for me if the list updated itself in the background

just something like github does with notifications: it tells you how many new notifications are not shown yet

[2021-10-21 06:16] #118 closed

[2021-11-01 11:22] TomasTomecek opened #151 "Copr → Packit Dashboard integration"
We already have Packit Dashboard ➡️ Copr integration. This is a tracking issue to cover the other side: being able to go from Copr web interface to Packit Dasboard (or GitHub).

Context:
https://pagure.io/copr/copr/issue/1890
https://pagure.io/copr/copr/pull-request/1970

Let's brainstorm some ideas here.

CC @xsuchy @frostyx @praiskup

[2021-11-01 12:54] praiskup commented on #151
The issue/PR you mentioned is just about a single-place ad, basically.  No problem there of course, but is that what you want to brainstorm about?

If you want more fine-grained links, ... what would be an example Packit dashboard link Copr should point to (from a particular project or even build)?

[2021-11-01 15:32] TomasTomecek commented on #151
This issue is a follow-up to Mirek's point on today's meeting :) that one of the cards could indeed point to our dashboard, or something like that.

Nice, this is the discussion I wanted to start, thanks Pavel. Build/project links sound like a great start since people would have an easy way to access their PRs and test runs in Testing Farm.

Would we enable that for all the repos which use packit

[2021-11-02 07:05] praiskup commented on #151
There's currently the project description field, which is entirely under Packit's (user) control.
That's IMO a good thing because Copr doesn't have to add a special logic or something.
Do you want to have some "description" field per/build, too?

Do you have such an example?  I don't have the rough idea about what page should point to
which page :-)

[2021-11-02 08:54] TomasTomecek commented on #151
Pavel, that's actually a very good point: we could start setting those links ourselves.

https://copr.fedorainfracloud.org/coprs/packit/packit-ogr-653/ → https://dashboard.packit.dev/projects/github.com/packit/ogr
or even better to the specific pipeline run (being worked on here https://github.com/packit/dashboard/pull/135 )

[2021-11-24 09:34] lachmanfrantisek opened #155 "View for propose-downstream"
Provide a view for the `propose-downstream` job using packit/packit-service#1292

Users want to see:
* Upstream event that was used to trigger the job.
* State the job is in.
* Logs.
* Links to the downstream PRs.

[2021-12-17 14:50] prathamaror commented on #155
I would like to work on this issue

[2021-12-18 14:11] lachmanfrantisek commented on #155
@prathamaror Hello. That would be nice!

Just be aware that packit/packit-service#1292 is not ready yet and needs to be done to make this work. (But you can at least start I think.)

[Here](https://github.com/packit/dashboard/blob/main/CONTRIBUTING.md) is our contribution guide. Let us know if you need some help.

[2021-12-20 11:34] jpopelka opened #157 "SRPM Builds: redundant Results column"
There are two similar columns:

-  `Success` - contains success/failure "icon" and links to the dashboard page with more info (submitted/logs) about the build
-  `Results` - contains internal srpm build id and links to the same page as the `Success` column.

I think the `Results` column is redundant since the id is just our internal thing with no value to anyone and the link is already in the `Suc

[2022-01-05 09:59] #157 closed

[2022-02-22 14:50] TomasTomecek opened #166 "Long log lines are barely readable"
https://dashboard.packit.dev/results/srpm-builds/55525

It seems that line numbers are colliding with the actual logs.

[2022-02-22 15:35] mfocko commented on #166
will need to have a look, it is regression from patternfly

[2022-02-23 22:13] #166 closed

[2022-03-02 08:58] TomasTomecek opened #169 "More clear build status for SRPMs and binary RPMs"
We've recently got feedback from @ssbarnea that status reporting for SRPMs and binary RPMs is unclear. With the upcoming change of doing SRPM builds in Copr, let's make this more clear and understandable on our side.

[2022-03-02 09:08] #119 closed

[2022-03-02 09:09] #131 closed

[2022-03-02 09:09] #148 closed

[2022-03-02 09:09] #62 closed

[2022-03-04 08:41] csomh opened #171 "Use mod_wsgi-express instead of httpd"
This work is going to be similar to packit/packit-service#1363.

[2022-03-07 16:20] nikromen opened #173 "Figure out how to "insert" fake data for propose-downstream jobs."
As I mentioned in #168 current "solution" of inserting fake data to dashboard running on localhost is really poor. We need to figure out better way of "inserting" fake data to propose-downstream jobs (and not only for them).

[2022-03-07 16:30] TomasTomecek opened #174 "SRPM build logs: change url from copr-be to download.copr"
We are using this build logs host:
https://copr-be.cloud.fedoraproject.org/results/@oamg/leapp/srpm-builds/03635385/builder-live.log.gz

Instead, we should use this:
https://download.copr.fedorainfracloud.org/results/@oamg/leapp/srpm-builds/03635385/builder-live.log

As copr-be is 404 and only contains the logs after the build is done; download.copr has them right away

[2022-03-08 10:35] #155 closed

[2022-03-16 10:49] TomasTomecek commented on #173
we should already have some data in the production database, right?

is this still needed or do you think it's still worth having this mechanism in place?

[2022-03-16 15:11] lachmanfrantisek commented on #173
Maybe to make it clear, one can dump the data from stg/prod and fill it into the locally deployed database. It works quite well for testing migrations as well.

[2022-03-17 10:07] lachmanfrantisek opened #177 "Do not show PR link for failed/errored propose-downstream"
As you can see in the following screenshot, the PR link will never be available for the run that has already ended with an error.
I would suggest better wording or removing the line completely.

![Screenshot from 2022-03-17 11-03-07](https://user-images.githubusercontent.com/20214043/158785985-184a5d06-b8f8-4238-aab9-7d64011daeef.png)

[2022-03-17 10:58] TomasTomecek commented on #173
so at least we should have such process documented, especially now when our prod database is being backed up

[2022-06-20 07:52] #171 closed

[2022-06-28 14:40] nikromen opened #185 "Make our Grafana dashboard with adoption metrics freely available"
Do this once [packit-service#1567](https://github.com/packit/packit-service/issues/1567) is done.

Make our adoption metrics that we have implemented and displayed via Grafana available for everyone. There is [how we want to do that](https://github.com/packit/research/blob/main/adoption-metrics/implementation.md#but--2). It may be tricky but hopefully the steps provided in the link above will work

[2022-07-10 15:03] #177 closed

[2022-07-10 15:03] #173 closed

[2022-07-10 15:04] #133 closed

[2022-07-12 08:28] lbarcziova opened #186 "`Unable to connect` for Jobs"
When accessing https://dashboard.packit.dev/jobs, it frequently occurs that `Unable to connect- There was an error retrieving data.` error is displayed.

TODO:
- [ ] investigate what is the reason for this. Suggestions what to check:
    - [ ] memory consumption
    - [ ] possible underlying issue in API responses (some "damaged" record that cannot be parsed and therefore displayed)
- [ ] fix the

[2022-07-19 18:54] jpopelka commented on #186
If the issue was memory we would most likely see some `process was terminated by signal 9: Killed` in logs (/var/lib/pgsql/data/userdata/log/postgresql-*.log) which is not the case.

I think the [packit-service API queries just take so long](https://github.com/packit/packit-service/issues/1588) that some timeout in the dashboard runs out.

[2022-07-26 07:32] TomasTomecek opened #187 "Pipelines view: show downstream jobs"
I'd love to see all the downstream bodhi update creations and koji builds that Packit did in the generic Pipelines view.

* [x] packit/dashboard#199
* [x] packit/packit-service#1889
* [x] packit/dashboard#214
* [x] packit/packit-service#1890
* [x] packit/packit-service#1891
* [x] packit/dashboard#215

---

* What are the Benefits:
  * Downstream jobs are visible from a single view. Users can see t

[2022-08-17 08:56] #186 closed

[2022-09-06 06:53] csomh commented on #151
We decided to close this in favour of other work. If you still think it's important, please re-open it.

[2022-09-06 06:53] #151 closed

[2022-09-08 06:52] csomh commented on #169
We decided to drop this in favour of other priorities. Please re-open if still relevant.

[2022-09-08 06:52] #169 closed

[2022-10-13 07:39] lachmanfrantisek opened #192 "Basic info about Packit usage"
To show how much Packit is used and to prove that our project helps people, we can create a separate page showing the basic info coming from the database via API.

This will be a quicker solution compared to packit/packit-service#1568 We will start with this simple solution and revisit next quarter if we want to do the Grafana solution or if the basic solution is enough.

TODO:
* [x] packit/packit

[2022-10-26 11:40] lachmanfrantisek opened #193 "Create a subpage with basic info about Packit usage"
Part of https://github.com/packit/dashboard/issues/192

* [ ] Create a new subpage to show a basic about Packit usage/adoption
* [ ] Use data from the newly created API endpoint implemented in packit/packit-service#1724

[2022-11-24 08:37] lbarcziova opened #194 "Display identifiers"
Currently, we don't display for builds and tests any info about identifiers, so the results can be quite confusing if you are only checking dashboard (you can see the identifiers info in GitHub status checks).

We could show this directly in target similarly to checks, e.g. `fedora-rawhide:identifier1` (this could be used to show the information in `Jobs` tables), or/and have separate rows in the